/* svg path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  pointer-events: none;
  animation: animateDash 10s linear 2s forwards infinite;
  -webkit-tap-highlight-color: transparent;
}

@keyframes animateDash {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 1000;
  }
} */
